{% extends "base.html" %}

{% block title %}WPSP :: Profile{% endblock %}



{% block stylesheet %}

<!-- DataTables -->
<link href="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.css" rel="stylesheet" integrity="sha384-i0jVPhw/X00l5EPvMOBv0lcGYXlSQGOqNYpMK/406rxta9oBump0IZJIHzvtf3+H" crossorigin="anonymous">

<!-- Custom -->
<link href="/static/style.css" rel="stylesheet">

{% endblock %}



{% block header %}

  {% include "navbar.html" %}    

{% endblock %}



{% block content %}

<div class="row mt-4">

{% if therapists %}

  <div class="row mt-4">
    <div class="col-4">
      <strong>Therapist</strong>
      <select class="form-select" aria-label="Select a Therapist" id="therapist">
        <option selected disabled>Select a Therapist</option>
        {% for therapist in therapists %}
        <option value="{{ therapist.id }}">{{ therapist.user.get_full_name }}</option>
        {% endfor %}
      </select>
    </div>   
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <strong>Client</strong>
      <select class="form-select" aria-label="Select a Client" id="client" disabled style="display:none;">
        <option selected disabled>Select a Client</option>
        {% for client in client %}
        <option value="{{ client.id }}">{{ client.user.get_full_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{% endif %}


{% if client %}

  <div class="row mt-4">
    <div class="col-12" id="tracking-container">
      <div class="row">
        <div class="col-8">
          <table id="tracking" class="table table-bordered table-hover table-sm">
          </table>
        </div>
        <div class="col-4">
          <table id="protocols" class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <th class='text-center'>number</th>
                <th class='text-center'>ILF</th>
                <th class='text-center'>A/T</th>
                <th class='text-center'>Synch</th>
                <th class='text-center'>FreqBand</th>
                <th class='text-center'>protocol</th>
              </tr>
            </thead>
            <tbody>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="protocol-container">
        </div>
      </div>  
    </div>
  </div>

{% endif %}

  

</div>

{% endblock %}



{% block footer %}


<!-- DataTables -->
<script src="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.js" integrity="sha384-jVoHjtunWKmr2zpSki5PSXfFYRsTQQm1uk4wpf45zuYxast668XkB2fJL8PjloNc" crossorigin="anonymous"></script>

<!-- D3 -->
<script src="https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"></script>

<!-- Custom -->
<script src="/static/api.js"></script>


{% if therapists %}
<script>
  
  document.addEventListener('DOMContentLoaded', () => {

    let $therapistSelector = $("#therapist");
    let $clientSelector = $("#client");

    $therapistSelector.on('change', (event) => {
      let therapist_id = $therapistSelector.val();
      Api.fetchClientsByTherapist(therapist_id)
        .then(clients => {
          $clientSelector
            .attr('disabled', false)
            .show()
            .empty()
            .append('<option selected disabled>Select a Client</option>')
            .append(
              clients.map(client => {
                return $('<option>', {value:client.id}).append(client.name);
              })
            );
        });
    });

    $clientSelector.on('change', (event) => {
      let client_id = $clientSelector.val();
      window.location.href = `/dashboard/client/${client_id}`;
    });

  }, false);

</script>
{% endif %}



{% if client %}
<script>

  const UI = {

    colorScale: d3.scaleLinear()
      .domain([0, 10]) // Input data range
      .range(["blue", "red"]), // Output color range

    formatScore: function(score) {
      if (score) {
        let percentage = (score/10)*100;
        return $(`
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: ${percentage}%; background-color: ${UI.colorScale(score)}">${score}</div>
        </div>`);
      }
    },

    makeProtocolButton: function(sessionId) {
        let $button = $('<span>')
                        .addClass('btn-protocol')
                        .data('session-id', sessionId)
                        .append('View')
                        .on('click', App.renderSessionProtocol);
        return $button;
    },

    makeProtocolColumns: function(sessionId) {

      let $ilfCell = $('<td>');
      let $atCell = $('<td>');
      let $syncCell = $('<td>');
      let $fqbdCell =  $('<td>');
      
      Api.fetchSessionProtocol(sessionId)
        .then((protocol) => { 
          let sites = protocol.filter(d => {return 'ILF' == d.type}).map(d => { return d.site; });
          $ilfCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'AlphaTheta' == d.type}).map(d => { return d.site; });
          $atCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'Frequency Band' == d.type}).map(d => { return d.site; });
          $fqbdCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'Synchrony' == d.type}).map(d => { return d.site; });
          $syncCell.append(sites.join(', '));
        });

      return [
        $ilfCell,
        $atCell,
        $syncCell,
        $fqbdCell,
        $('<td>').addClass('text-center').append(
          UI.makeProtocolButton(sessionId)
        )
      ];
    },

    initDataTable: function($el) {
      let options = {
        ordering: false,
        paging: false,
        searching: false,
        info: false
      };
      let dataTable = new DataTable($el, options);
      return dataTable;
    }

  }


  const App = {
    
    elements: {
      $protocolContainer: $('#protocol-container'),
      $trackingTable: $('#tracking'),
      $protocolTable: $('#protocols')
    },

    buildDataset: function(results) {
      let dataset = {
        symptoms: {},
        baselines: {
          'good': {
            number: null,
            date: 'Baseline: Good Week',
            scores: {}
          },
          'bad': {
            number: null,
            date: 'Baseline: Bad Week',
            scores: {}
          },
          'usual': {
            number: null,
            date: 'Baseline: Usual Week',
            scores: {}
          }
        },
        sessions: {}
      };
      
      let symptoms = results[0];
      for (let i=0; i<symptoms.length; i++) {
        let symptom = symptoms[i];
        dataset.symptoms[symptom.name] = symptom.is_active;
        dataset.baselines.good.scores[symptom.name] = symptom.baseline.goodweek;
        dataset.baselines.bad.scores[symptom.name] = symptom.baseline.badweek;
        dataset.baselines.usual.scores[symptom.name] = symptom.baseline.usualweek;
      }


      let sessions = results[1];
      for (let i=0; i<sessions.length; i++) {
        let session = sessions[i];
        if (session.no_show) continue;

        dataset.sessions[session.date] = {
          id: session.id,
          date: session.date,
          number: session.number,
          scores: {}
        }

        for (let j=0; j<session.symptom_scores.length; j++) {
          let symptom = session.symptom_scores[j];
          dataset.sessions[session.date].scores[symptom.name] = symptom.score;
        }
      } 

      return dataset;
    },

    renderSessionProtocol: function(event) {
      let session_id = $(this).data()['sessionId'];
      Api.fetchSessionProtocol(session_id)
        .then((protocol) => {
          UI.elements.$protocolContainer.empty()
            .append(
              protocol.map(d => {
                return $('<div>').addClass('card mt-3').append(
                  $('<div>').addClass('card-body').append(
                    $('<h5>').addClass('card-title').append(d.site),
                    $('<h6>').addClass('card-subtitle mb-2 text-body-secondary').append(d.type),
                    $('<div>').append(d.duration + ' minutes'),
                    ...d.settings.map(i => {
                      let type = i.type ?? '';
                      return $('<div>').append(type + ' ' + i.frequency + ' ' + i.unit);
                    })
                  )
                );
              })
            );
        });
    },

    renderTrackingTable: function(dataset) {

      let _symptoms = Object.keys(dataset.symptoms);

      $columns = $('<tr>').append(
        $('<th>').append('date'),
        $('<th>').addClass('text-center').append('number'),
        ..._symptoms.map(d => {
          return $('<th>').append(d)
        })
      );

      App.elements.$trackingTable.append(
        $('<thead>').append($columns.clone()),
        $('<tbody>').append(
          (function() {
            let rows = [];

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Good Week'),
                $('<td>').append(''),
                ..._symptoms.map(d => {
                  let icon = UI.formatScore(dataset.baselines.good.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Bad Week'),
                $('<td>').append(''),
                ..._symptoms.map(d => {
                  let icon = UI.formatScore(dataset.baselines.bad.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Usual Week'),
                $('<td>').append(''),
                ..._symptoms.map(d => {
                  let icon = UI.formatScore(dataset.baselines.usual.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            for (let date in dataset.sessions) {
              rows.push(
                $('<tr>').attr('session-id', dataset.sessions[date].id).append(
                  $('<td>').append(date),
                  $('<td>').addClass('text-center').append(dataset.sessions[date].number),
                  ..._symptoms.map(d => {
                    let icon = UI.formatScore(dataset.sessions[date].scores[d]);
                    return $('<td>').append(icon);
                  })
                )
              );
            }

            return rows;
          })()
        )
      );

      UI.initDataTable(App.elements.$trackingTable);
    },

    renderProtocolTable: function(dataset) {
      App.elements.$protocolTable.find('tbody').append(
        (function(){
          let rows = []
          for (let date in dataset.sessions) {
            rows.push(
              $('<tr>').attr('session-id', dataset.sessions[date].id).append(
                // $('<td>').append(date),
                $('<td>').addClass('text-center').append(dataset.sessions[date].number),
                ...UI.makeProtocolColumns(dataset.sessions[date].id)
              )
            );
          }
          return rows;
        })()
      );
      UI.initDataTable(App.elements.$protocolTable);
    }


  };


  document.addEventListener('DOMContentLoaded', () => {

    let client_id = '{{ client.id|escapejs }}';

    Promise.all([
      Api.fetchSymptomsByClient(client_id),
      Api.fetchSessionsByClient(client_id)
    ])
    .then(App.buildDataset)
    .then((dataset) => {

      return Promise.all([
        App.renderTrackingTable(dataset),
        App.renderProtocolTable(dataset)
      ])
      .then(() => {
        // attach listeners
        $('tr').on('mouseenter', function(event) {
          let $el = $(this);
          $('tr').removeClass('highlight')
          let sessionId = $el.attr('session-id');
          if (sessionId) {
            $(`tr[session-id="${sessionId}"]`).addClass('highlight');
          }
        });

        $('table').on('mouseleave', function(event) {
          $('tr').removeClass('highlight');
        });
      });

      // draw lines between rows
      // let $canvas = $('<canvas id="canvas"></canvas>');
      // $('body').prepend($canvas);

    });

  }, false);

</script>
{% endif %}


{% endblock %}