{% extends "base.html" %}

{% block title %}WPSP :: Profile{% endblock %}



{% block stylesheet %}

<!-- DataTables -->
<link href="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.css" rel="stylesheet" integrity="sha384-i0jVPhw/X00l5EPvMOBv0lcGYXlSQGOqNYpMK/406rxta9oBump0IZJIHzvtf3+H" crossorigin="anonymous">

<!-- Custom -->
<link href="/static/style.css" rel="stylesheet">

{% endblock %}



{% block header %}

  {% include "navbar.html" %}    

{% endblock %}



{% block content %}

<div class="row mt-4 small">

{% if therapists %}

  <div class="row mt-4">
    <div class="col-4">
      <strong>Therapist</strong>
      <select class="form-select" aria-label="Select a Therapist" id="therapist">
        <option selected disabled>Select a Therapist</option>
        {% for therapist in therapists %}
        <option value="{{ therapist.id }}">{{ therapist.user.get_full_name }}</option>
        {% endfor %}
      </select>
    </div>   
  </div>

  <div class="row mt-4">
    <div class="col-4">
      <strong>Client</strong>
      <select class="form-select" aria-label="Select a Client" id="client" disabled style="display:none;">
        <option selected disabled>Select a Client</option>
        {% for client in client %}
        <option value="{{ client.id }}">{{ client.user.get_full_name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

{% endif %}


{% if client %}

  <div class="row mt-4">
    <div class="col-12" id="tracking-container">
      <div class="row">
        <div class="col-8">
          <table id="tracking" class="table table-bordered table-hover table-sm">
          </table>
        </div>
        <div class="col-4">
          <table id="protocols" class="table table-bordered table-hover table-sm">
            <thead>
              <tr>
                <!-- <th class='text-center'>number</th> -->
                <th class='text-center'>ILF</th>
                <th class='text-center'>A/T</th>
                <th class='text-center'>Synch</th>
                <th class='text-center'>FreqBand</th>
                <th class='text-center'>protocol</th>
              </tr>
            </thead>
            <tbody>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr class='table-secondary'>
                <td>&nbsp;</td>
                <!-- <td></td> -->
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="protocol-container">
        </div>
      </div>  
    </div>
  </div>

{% endif %}

  

</div>

{% endblock %}



{% block footer %}


<!-- DataTables -->
<script src="https://cdn.datatables.net/v/bs5/dt-2.3.4/datatables.min.js" integrity="sha384-jVoHjtunWKmr2zpSki5PSXfFYRsTQQm1uk4wpf45zuYxast668XkB2fJL8PjloNc" crossorigin="anonymous"></script>

<!-- D3 -->
<script src="https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"></script>

<!-- Custom -->
<script src="/static/api.js"></script>


{% if therapists %}
<script>
  
  document.addEventListener('DOMContentLoaded', () => {

    let $therapistSelector = $("#therapist");
    let $clientSelector = $("#client");

    $therapistSelector.on('change', (event) => {
      let therapist_id = $therapistSelector.val();
      Api.fetchClientsByTherapist(therapist_id)
        .then(clients => {
          $clientSelector
            .attr('disabled', false)
            .show()
            .empty()
            .append('<option selected disabled>Select a Client</option>')
            .append(
              clients.map(client => {
                return $('<option>', {value:client.id}).append(client.name);
              })
            );
        });
    });

    $clientSelector.on('change', (event) => {
      let client_id = $clientSelector.val();
      window.location.href = `/dashboard/client/${client_id}`;
    });

  }, false);

</script>
{% endif %}



{% if client %}
<script>

  const UI = {

    colorScale: d3.scaleLinear()
      .domain([0, 10]) // Input data range
      .range(["blue", "red"]), // Output color range

    formatScore: function(score) {
      if (score !== undefined) {
        let percentage = (score/10)*100;
        return $(`
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: ${percentage}%; background-color: ${UI.colorScale(score)}">${score}</div>
        </div>`);
      }
    },

    makeSessionSymptomScoreButton: function(session_id, symptom) {
      let $button = $(`<button class="btn btn-sm btn-info btn-symptom-score"> Set </button>`)
                      .on('click', (event) => {

                        Swal.fire({
                          title: `${symptom.name}`,
                          showCancelButton: true,
                          showCloseButton: true,
                          input: "number",
                          inputAttributes: {
                            min: '0',  // Sets the minimum allowed value to 1
                            max: '10', // Sets the maximum allowed value to 100
                            step: '1'  // Optional: defines the step increment for the input
                          },
                          inputValidator: (value) => {
                            if (value === '' || isNaN(value)) {
                              return 'Please enter a valid number!';
                            }
                            const numValue = parseInt(value);
                            if (numValue < 0 || numValue > 10) {
                              return 'Number must be between 1 and 10!';
                            }
                            return null; // No error
                          }
                        })
                        .then((result) => {
                          if (result.isConfirmed) {
                            Api.setSessionSymptomScore(session_id, symptom.id, parseInt(result.value))
                              .then(() => {
                                window.location.reload();
                              });
                          }
                        });

                      });
      return $button;
    },

    makeProtocolButton: function(sessionId) {
        let $button = $('<span>')
                        .addClass('btn-protocol')
                        .data('session-id', sessionId)
                        .append('View')
                        .on('click', App.renderSessionProtocol);
        return $button;
    },

    makeProtocolColumns: function(sessionId) {

      let $ilfCell = $('<td>');
      let $atCell = $('<td>');
      let $syncCell = $('<td>');
      let $fqbdCell =  $('<td>');
      
      Api.fetchSessionProtocol(sessionId)
        .then((protocol) => { 
          let sites = protocol.filter(d => {return 'ILF' == d.type}).map(d => { return d.site; });
          $ilfCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'AlphaTheta' == d.type}).map(d => { return d.site; });
          $atCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'Frequency Band' == d.type}).map(d => { return d.site; });
          $fqbdCell.append(sites.join(', '));
          sites = protocol.filter(d => {return 'Synchrony' == d.type}).map(d => { return d.site; });
          $syncCell.append(sites.join(', '));
        });

      return [
        $ilfCell,
        $atCell,
        $syncCell,
        $fqbdCell,
        $('<td>').addClass('text-center').append(
          UI.makeProtocolButton(sessionId)
        )
      ];
    },

    initDataTable: function($el) {
      let options = {
        ordering: false,
        paging: false,
        searching: false,
        info: false
      };
      let dataTable = new DataTable($el, options);
      return dataTable;
    }

  }


  const App = {
    
    elements: {
      $protocolContainer: $('#protocol-container'),
      $trackingTable: $('#tracking'),
      $protocolTable: $('#protocols')
    },

    buildDataset: function(results) {
      let dataset = {
        symptoms: {},
        baselines: {
          'good': {
            number: null,
            date: 'Baseline: Good Week',
            scores: {}
          },
          'bad': {
            number: null,
            date: 'Baseline: Bad Week',
            scores: {}
          },
          'usual': {
            number: null,
            date: 'Baseline: Usual Week',
            scores: {}
          }
        },
        sessions: {}
      };
      
      let symptoms = results[0];
      for (let i=0; i<symptoms.length; i++) {
        let symptom = symptoms[i];
        dataset.symptoms[symptom.name] = symptom;
        dataset.baselines.good.scores[symptom.name] = symptom.baseline.goodweek;
        dataset.baselines.bad.scores[symptom.name] = symptom.baseline.badweek;
        dataset.baselines.usual.scores[symptom.name] = symptom.baseline.usualweek;
      }


      let sessions = results[1];
      for (let i=0; i<sessions.length; i++) {
        let session = sessions[i];
        if (session.no_show) continue;

        // dataset.sessions[session.date] = {
        //   id: session.id,
        //   date: session.date,
        //   number: session.number,
        //   scores: {}
        // }

        let session_key = `${session.date}_${session.id}`;

        dataset.sessions[session_key] = {
          id: session.id,
          date: session.date,
          number: session.number,
          scores: {}
        }

        for (let j=0; j<session.symptom_scores.length; j++) {
          let symptom = session.symptom_scores[j];
          // dataset.sessions[session.date].scores[symptom.name] = symptom.score;
          dataset.sessions[session_key].scores[symptom.name] = symptom.score;
        }
      } 

      return dataset;
    },

    renderSessionProtocol: function(event) {
      let session_id = $(this).data()['sessionId'];
      Api.fetchSessionProtocol(session_id)
        .then((protocol) => {
          App.elements.$protocolContainer.empty()
            .append(
              protocol.map(d => {
                return $('<div>').addClass('card mt-3').append(
                  $('<div>').addClass('card-body').append(
                    $('<h5>').addClass('card-title').append(d.site),
                    $('<h6>').addClass('card-subtitle mb-2 text-body-secondary').append(d.type),
                    $('<div>').append(d.duration + ' minutes'),
                    ...d.settings.map(i => {
                      let type = i.type ?? '';
                      return $('<div>').append(type + ' ' + i.frequency + ' ' + i.unit);
                    })
                  )
                );
              })
            );
        });
    },

    renderTrackingTable: function(dataset) {

      let symptomsNames = Object.values(dataset.symptoms)
                            .filter(d => d.is_active)
                            .map(d => d.name);

      let $headers = $('<tr>').append(
        $('<th>').append('date'),
        $('<th>').addClass('text-center').append('number'),
        ...symptomsNames.map(d => {
          return $('<th>').addClass('column-symptom').append(d)
        })
      );

      App.elements.$trackingTable.append(
        $('<thead>').append($headers),
        $('<tbody>').append(
          (function() {
            let rows = [];

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Good Week'),
                $('<td>').append(''),
                ...symptomsNames.map(d => {
                  let icon = UI.formatScore(dataset.baselines.good.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Bad Week'),
                $('<td>').append(''),
                ...symptomsNames.map(d => {
                  let icon = UI.formatScore(dataset.baselines.bad.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            rows.push(
              $('<tr>').addClass('table-secondary').append(
                $('<td>').append('Usual Week'),
                $('<td>').append(''),
                ...symptomsNames.map(d => {
                  let icon = UI.formatScore(dataset.baselines.usual.scores[d]);
                  return $('<td>').append(icon);
                })
              )
            );

            for (let key in dataset.sessions) {
              let session = dataset.sessions[key];
              rows.push(
                $('<tr>').attr('session-id', session.id).append(
                  $('<td>').append(session.date),
                  $('<td>').addClass('text-center').append(session.number),
                  ...symptomsNames.map(d => {
                    let icon = UI.formatScore(session.scores[d]) ?? 
                               UI.makeSessionSymptomScoreButton(session.id, dataset.symptoms[d]);
                    return $('<td>').append(icon);
                  })
                )
              );
            }

            // rows.push();
            // todo button to create session

            return rows;
          })()
        )
      );

      UI.initDataTable(App.elements.$trackingTable);
    },

    renderProtocolTable: function(dataset) {
      App.elements.$protocolTable.find('tbody').append(
        (function(){
          let rows = []
          for (let date in dataset.sessions) {
            rows.push(
              $('<tr>').attr('session-id', dataset.sessions[date].id).append(
                // $('<td>').append(date),
                // $('<td>').addClass('text-center').append(dataset.sessions[date].number),
                ...UI.makeProtocolColumns(dataset.sessions[date].id)
              )
            );
          }
          return rows;
        })()
      );
      UI.initDataTable(App.elements.$protocolTable);
    }


  };


  document.addEventListener('DOMContentLoaded', () => {

    let client_id = '{{ client.id|escapejs }}';


    //.BEGIN
    let $canvas = $('<canvas id="canvas"></canvas>');
    let canvas = $canvas.get(0);
    let ctx = canvas.getContext("2d");

    function resizeCanvas() {
        // Set canvas dimensions to match the window's inner dimensions
        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        // Optional: Handle high-resolution screens (Retina displays)
        const dpr = window.devicePixelRatio || 1;
        canvas.width = window.innerWidth * dpr;
        canvas.height = window.innerHeight * dpr;
        ctx.scale(dpr, dpr);

        // Redraw your canvas content here after resizing
        // For example: drawContent();
    }

    // Call the resize function initially to set the canvas size on load
    resizeCanvas();

    // Add an event listener to dynamically adjust canvas size on window resize
    window.addEventListener('resize', resizeCanvas);

    $('body').prepend($canvas);
    //.END


    Promise.all([
      Api.fetchSymptomsByClient(client_id),
      Api.fetchSessionsByClient(client_id)
    ])
    .then(App.buildDataset)
    .then((dataset) => {

      return Promise.all([
        App.renderTrackingTable(dataset),
        App.renderProtocolTable(dataset)
      ])
      .then(() => {
       
         // attach listeners
        $('tr').on('mouseenter', function(event) {
          let $el = $(this);
          ctx.clearRect(0, 0, canvas.width, canvas.height);
          $('tr').removeClass('highlight')
          let sessionId = $el.attr('session-id');
          if (sessionId) {
            $(`tr[session-id="${sessionId}"]`).addClass('highlight');

            // Draw indicator on canvas
            let left = $(`#tracking tr[session-id="${sessionId}"]`).get(0).getBoundingClientRect();
            let right = $(`#protocols tr[session-id="${sessionId}"]`).get(0).getBoundingClientRect();
            ctx.beginPath();
            ctx.strokeStyle = "#e2e3e5";
            ctx.lineWidth = 3;
            ctx.moveTo(left.right, left.top);
            ctx.lineTo(right.left, right.top);
            ctx.lineTo(right.left, right.bottom);
            ctx.lineTo(left.right, left.bottom);     
            ctx.closePath(); // Close the triangle
            ctx.fillStyle = "#e2e3e5";
            ctx.fill(); // Fill the triangle
          }
        });

        $('table').on('mouseleave', function(event) {
          $('tr').removeClass('highlight');
          ctx.clearRect(0, 0, canvas.width, canvas.height);
        });
      
      });

    });

  }, false);

</script>
{% endif %}


{% endblock %}